@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color:white;
  overflow-x: hidden;
}
@font-face {
  font-family: nikeFooter;
  src: url('/public/fonts/HelveticaNowText-Medium.ttf');
}